node_modules/

ghost/core/config.local.json
ghost/core/config.production.json
ghost/core/content/data/*.db
ghost/core/content/data/*.db-journal
ghost/core/content/logs/
ghost/core/content/images/
ghost/core/content/public/built/
ghost/core/content/settings/*.json
ghost/core/content/adapters/
ghost/core/.eslintcache
ghost/core/*.tsbuildinfo

ghost/i18n/*.tsbuildinfo
ghost/parse-email-address/build/
ghost/parse-email-address/*.tsbuildinfo

*.log
.DS_Store
